@import url('https://fonts.googleapis.com/css?family=Encode+Sans');

.top_information_wrapper{
  height: 80px;
  text-align: center;
  margin: 0 auto;
  /*background-color: white;*/
  height: 250px;
}

.top_information{
  width: 60%;
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

.top_category{
  display: inline-block;
  margin-left: 30px;
  margin-right: 70px;
}
.top_category_value{
  padding-top: -15px;
}

.top_category_name{
  font-size: 15px;
  padding-bottom: 3px;
}
.top_category_value strong{
  color: #3f567c;
  font-size: 55px;
}
#top_two{
  height: 160px;
}
#cd-timeline{
  padding-top: 100px;
}
.home_section{
  background-color: white;
  height: 550px;
  text-align: center;

}
.home_service_title{
  font-size: 45px;
  color: black;
  font-family: 'Encode Sans', sans-serif;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 100px;
  text-align: left;
}
.home_service_drmaker_title{
  font-size: 50px;
  color: black;
  font-family: 'Encode Sans', sans-serif;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 160px;
  text-align: left;
}
.home_service_drmaker_title{
  font-size: 50px;
  color: black;
  font-family: 'Encode Sans', sans-serif;
  margin-top: 150px;
  margin-bottom: 150px;
  /*margin-left: 160px;*/
  text-align: center;
}
.home_service_drmaker_introduce_title{
  font-family: 'Encode Sans', sans-serif;
  font-size: 35px;
  text-align: left;
  color: #3f567c;
}
.home_service_drmaker_introduce_content{
  font-family: 'Encode Sans', sans-serif;
  text-align: left;
}
.home_service_drmaker_title_div{
  margin-left: 100px;
}
.home_service_img_script{
  margin-left: -550px;
}
.home_service_img_schedule{
  margin-left: -900px;
  margin-top: -10px;
}
.home_service_img_script img{
  width: 120px;
  height: 120px;
}
.home_service_img_schedule img{
  width: 120px;
  height: 120px;
}
.home_service_name_script h2{
  font-size: 25px;
  color: black;
  margin-left: -200px;
  margin-top: -130px;
}

.home_service_name_schedule h2{
  font-size: 25px;
  color: black;
  margin-left: -470px;
  margin-top: -130px;
}

.home_service_introduce_script{
  width: 750px;
  height: 200px;
  /*margin: 0 auto;*/
  margin-left: 50px;
  /*margin-bottom: 20px;*/
  float: left;
  /*background-color: pink;*/
}
.home_service_introduce_schedule{
  width: 750px;
  height: 200px;
  margin-left: 800px;
  margin-top: -200px;
  /*background-color: pink;*/
  float: left;
}
.home_service_introduce_cam{
  width: 750px;
  height: 200px;
  margin-left: 50px;
  margin-top: 50px;
  /*margin-top: -200px;*/
  /*background-color: pink;*/
  float: left;
}
.home_service_img_cam{
  margin-left: -550px;
  margin-top: -60px;
  margin-bottom: -100px;
}
.home_service_img_cam img{
  width: 120px;
  height: 120px;
}
.home_service_name_cam h2{
  font-size: 25px;
  color: black;
  margin-left: -40px;
  margin-top: -130px;
}
.home_service_content_cam p{
  font-size: 15px;
  text-align: left;
}
.home_service_content_cam{
  margin-top: 20px;
  margin-left: 185px;
}

.home_service_introduce_staff{
  width: 750px;
  height: 200px;
  margin-left: 800px;
  margin-top: -200px;
  /*margin-top: -200px;*/
  /*background-color: pink;*/
  float: left;
}
.home_service_img_staff{
  margin-left: -890px;
  margin-top: -70px;
}
.home_service_img_staff img{
  width: 150px;
  height: 130px;
}
.home_service_name_staff h2{
  font-size: 25px;
  color: black;
  margin-left: -500px;
  margin-top: -140px;
}
.home_service_content_staff p{
  font-size: 15px;
  text-align: left;
}
.home_service_content_staff{
  margin-top: 20px;
  margin-left: 10px;
}

.home_service_content_script p{
  font-size: 15px;
  text-align: left;
}
.cd-timeline-content h2{
  font-weight: bold;
}

.home_service_content_schedule p{
  font-size: 15px;
  text-align: left;
}
.home_service_content_script{
  margin-top: 20px;
  margin-left: 180px;
}
.home_service_content_schedule{
  margin-top: 20px;
  margin-left: -3px;
}
.home_service_content_schedule p{
  font-size: 15px;
  text-align: left;
}
.home_service_introduce_div{
  width: 1600px;
  height: 200px;
  margin: 0 auto;
}

.dramaker_history{
  /*margin-left: 500px;*/
}

#home_title h2{
  margin-top: 50px;
  font-size: 80px;
  color: white;
  font-weight: bold;
  height: 100px;
}
#home_title_sub h2{
  color: white;
  margin-top: -40px;
  font-size: 25px;
}

.thumbnail img{
  width: 300px;
  max-height: 200px;
}
.users_profile_img{
  width: 70px;
  height: 70px;
}
